# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://puvmgshyoppkbppntvia.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_X1i3eQXakZGM_WWtfg9rgA_Mzp4vKzN
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB1dm1nc2h5b3Bwa2JwcG50dmlhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzEzOTc1OCwiZXhwIjoyMDkyNzE1NzU4fQ.wf2xRhxMUP5MIs9-ZZWZ5PeYXGhREdcyrgpavOz877w

# SMTP Configuration for Contact Form (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS="your-app-specific-password"
SMTP_FROM=your-email@gmail.com
